@import "tailwindcss";

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: white !important;
  }
}

body {
  font-family: 'Segoe UI', system-ui, -apple-system, Roboto, sans-serif;
}
